html, body {
    margin-top: 15px;
    padding: 0;
    background-image: url('Assets/PAPER.jpg');
    background-image: cover;
    background-image: fixed;
} 

#header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#text { 
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    color: #647382;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
   
}

#camera {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 30%;
    height: auto;
    cursor: pointer;
} 

#camera:hover  {
    background-color: white;
    width: 30%;
    height: auto;
    border: 2px solid black;
    border-radius: 25%;
}

#image {
    display: block;
    margin-left: auto;  
    margin-right: auto; 
    margin-top: 50px;
    width: 100%;
    max-width: 50%;
    height: auto;
    padding: 20px;
    border: 2px solid black;
}
